#ventas-sin-orden td {
	text-align: center;
}

#ventas-sin-orden-head {
	background-color: #E4F1FE;
}

#ventas-sin-orden-head td {
	font-weight: bold;
	border-left: solid 2px;
}

#ventas-sin-orden-body td {
	padding: 15px 0 0;
}

.btn-asignar-despacho {
	padding: 7px 0px !important;
}

#asignar-despacho-loading, #enviar-ordenes-loading {
	display: none;
}

#asignar-despacho-form {
	width: 80%;
	margin: auto;
}

#asignar-despacho-form>*+* {
	margin-left: 15px;
}

#asignar-despacho-id-venta {
	width: 40px;
	text-align: center;
}

#asignar-despacho-submit {
	float: right;
}

#modal-asignar-despacho-msg {
	margin-bottom: 0;
	padding-top: 10px;
}

#enviar-ordenes {
	margin-top: 60px;
}